---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">    
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        {% if post.categories.size > 0 %}
          <span class="post-categories">
            {% for category in post.categories %}
              <span class="post-category">{{ category }}</span>
            {% endfor %}
          </span>
        {% endif %}
      </div>

      <div class="entry">
        {{ post.excerpt | strip_html | truncatewords: 50 }}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-item newer">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  
  <span class="pagination-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-item older">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
{% endif %}
