{% comment %}
  Figure include with caption support
  Usage: {% include figure.html src="path/to/image.jpg" alt="Alt text" caption="Figure caption" %}
{% endcomment %}

<figure class="figure">
  <img src="{{ include.src | prepend: site.baseurl }}" 
       alt="{{ include.alt }}" 
       class="figure-img"
       {% if include.width %}style="width: {{ include.width }};"{% endif %}
       {% if include.height %}style="height: {{ include.height }};"{% endif %}>
  {% if include.caption %}
    <figcaption class="figure-caption">{{ include.caption }}</figcaption>
  {% endif %}
</figure> 