---
layout: default
---

<div class="archive">
  <h1>{{ page.title }}</h1>
  
  {% if page.date %}
    <p class="archive-description">Posts from {{ page.date | date: "%B %Y" }}</p>
  {% endif %}
  
  <div class="posts">
    {% for post in page.posts %}
      <article class="post-item">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
        <div class="post-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 30 }}
        </div>
      </article>
    {% endfor %}
  </div>
</div>